{% extends "base.html" %} 
{% load i18n %}
{% block title %}Register Article{% endblock %} 

{% block content %}
<div class="container mt-4">
  <h2>Register New Article</h2>
  <form method="post" action="{% url 'register_article' %}">
    {% csrf_token %} 
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p> 
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Save Article</button>
  </form>
</div>
{% endblock %}
